<header class="bg-gray-900 text-white p-4">
  <nav class="container mx-auto flex gap-6">
    
    <a href="/" class="hover:text-gray-300">Home</a>
    <a href="/login" class="hover:text-gray-300">Login</a>
    
  </nav>
</header>