<header class="bg-gray-900 text-white p-4">
  <div class="container flex justify-between mx-auto">
    <a href="/" class="flex items-center text-2xl font-semibold text-white">
        <img class="w-8 h-8 mr-2" src="/img/logo_express.js.png" alt="logo">
        Serhii    
    </a>    
    <div class="flex gap-6">
      <% if (email && typeof email !== "undefined") { %>
        <a href="/" class="hover:text-gray-300">Home</a>
        <a href="/contact" class="hover:text-gray-300">Contact</a>            
        <a href="/logout" class="hover:text-red-400">Logout</a>
        <span>👋 <%= email %></span>
      <% } else { %>
        <a href="/login" class="hover:text-gray-300">Login</a>
      <% } %>
    </div>
  </div>
</header>