<header class="bg-gray-900 text-white p-4">
  <div class="container flex justify-between mx-auto">
    <a href="/" class="flex items-center text-2xl font-semibold text-white">
        <img class="w-8 h-8 mr-2" src="/img/logo_express.js.png" alt="logo">
        Serhii    
    </a>
    <nav class="flex gap-6">    
      <a href="/" class="hover:text-gray-300">Home</a>
      <a href="/login" class="hover:text-gray-300">Login</a>    
      <a href="/contact" class="hover:text-gray-300">Contact</a>    
    </nav>
  </div>
  
</header>